@font-face {
  font-family: "Inter";
  src: url("/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("/font/Jost-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Niconne";
  src: url("/font/Niconne-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --transition-duration: 0.5s;
  --transition-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

body {
  overflow: hidden;
  font-family: Jost;
}
.section {
  scrollbar-width: none; /* Firefox */
}
.section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter;
}
