@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #022f40;
  --color-secondary: #67828c;
  --color-accent: #daa520;
  /* --color-accent: #af9123; */
  --color-light: #e8eef2;
  --color-dark: #000;
}
::-webkit-scrollbar {
  display: none;
}

.navLinks li {
  @apply my-2;
}
.navLinks li a {
  @apply text-slate-700 px-4 py-2 font-bold text-lg flex items-center gap-2 w-32  rounded-r-3xl;
}
.navLinks a.active {
  @apply bg-[var(--color-primary)] text-[var(--color-accent)] rounded-r-3xl relative border-r-2	 border-r-[var(--color-accent)] 
  
  /* before class */
  before:content-[''] before:absolute before:h-8 before:w-8 before:bg-transparent  before:rounded-bl-2xl before:top-[-32px] before:left-0 before:shadow-[-6px_4px_0_var(--color-primary)] before:bg-gradient-to-tr before:from-0% before:from-[var(--color-accent)] before:to-25% before:to-transparent 
  /* after class */
   after:content-[''] after:absolute after:h-8 after:w-8 after:bg-gradient-to-br after:from-0% after:from-[var(--color-accent)] after:to-25% after:to-transparent  after:rounded-tl-2xl after:bottom-[-32px] after:left-0  after:shadow-[-6px_-4px_0_var(--color-primary)];
}

.navLinks a.active .icon {
  @apply text-xl;
}

.animation {
  animation: blink 2s linear infinite;
  display: inline-block;
  color: var(--color-accent);
  transform: scale(1);
  position: relative;
}

.animation::before {
  content: open-quote;
  color: var(--color-secondary);
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  font-size: 40px;

  left: -20px;
}
.animation::after {
  content: close-quote;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-secondary);
  position: absolute;
  font-size: 40px;
  right: -20px;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  10%,
  90% {
    transform: scale(1);
  }
  15%,
  90% {
    opacity: 1;
  }
}

/* **************************************
*************************************** */
.box {
  margin: 0 auto;
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 5px;
}

.ball {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-accent);
  position: absolute;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
}
.ball.next .shadow {
  box-shadow: inset -3px -3px 5px rgba(218, 165, 32, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);

  /* top-left  inset 1px -1px 2px rgba(218, 165, 32, 0.6),
     top-right  inset -1px 1px 2px rgba(218, 165, 32, 0.6),
     bottom-left  inset 1px 1px 2px rgba(218, 165, 32, 0.6),*/
}

.ball.html {
  animation: moveXHtml 5s linear 0.01s infinite alternate,
    moveYHtml 7.8s linear 0.01s infinite alternate;
}

.ball.css {
  left: 50px;
  animation: moveXCss 5.2s linear 0.02s infinite alternate,
    moveYCss 6s linear 0.02s infinite alternate;
}
.ball.javascript {
  left: 100px;
  animation: moveXJavascript 5.4s linear 0.03s infinite alternate,
    moveYJavascript 5.2s linear 0.03s infinite alternate;
}
.ball.react {
  left: 150px;
  animation: moveXReact 5.6s linear 0.015s infinite alternate,
    moveYReact 8.4s linear 0.015s infinite alternate;
}
.ball.next {
  left: 200px;
  animation: moveXNext 5.8s linear 0.025s infinite alternate,
    moveYNext 6.6s linear 0.025s infinite alternate;
}
.ball.type {
  left: 250px;

  animation: moveXType 6s linear 0.035s infinite alternate,
    moveYType 5.2s linear 0.035s infinite alternate both;
}
.ball.bootstrap {
  left: 250px;

  animation: moveXBootstrap 6s linear 0.035s infinite alternate,
    moveYBootstrap 6.2s linear 0.035s infinite alternate both;
}
.ball.tailwind {
  left: 250px;

  animation: moveXTailwind 6s linear 0.035s infinite alternate,
    moveYTailwind 7.2s linear 0.035s infinite alternate both;
}
.ball.node {
  animation: moveXHtml 6s linear 0.01s infinite alternate,
    moveYHtml 8.8s linear 0.01s infinite alternate;
}

.ball.express {
  left: 50px;
  animation: moveXCss 6.2s linear 0.02s infinite alternate,
    moveYCss 7.2s linear 0.02s infinite alternate;
}

@keyframes moveXHtml {
  0% {
    left: 0;
  }

  100% {
    left: 95%;
  }
}
@keyframes moveXCss {
  0% {
    left: 95%;
  }

  100% {
    left: 0;
  }
}
@keyframes moveXJavascript {
  0% {
    left: 0;
  }

  100% {
    left: 95%;
  }
}
@keyframes moveXReact {
  0% {
    left: 95%;
  }

  100% {
    left: 0;
  }
}
@keyframes moveXNext {
  0% {
    left: 95%;
  }

  100% {
    left: 0;
  }
}

@keyframes moveXType {
  0% {
    left: 95%;
  }

  100% {
    left: 0;
  }
}
@keyframes moveXBootstrap {
  0% {
    left: 0;
  }

  100% {
    left: 95%;
  }
}
@keyframes moveXTailwind {
  0% {
    left: 0;
  }

  100% {
    left: 95%;
  }
}

/* y-axis */

@keyframes moveYHtml {
  0% {
    top: 0;
  }
  100% {
    top: 83%;
  }
}
@keyframes moveYCss {
  0% {
    top: 0;
  }

  100% {
    top: 83%;
  }
}
@keyframes moveYJavascript {
  0% {
    top: 83%;
  }

  100% {
    top: 0;
  }
}
@keyframes moveYReact {
  0% {
    top: 83%;
  }

  100% {
    top: 0;
  }
}
@keyframes moveYNext {
  0% {
    top: 83%;
  }
  100% {
    top: 0;
  }
}
@keyframes moveYType {
  0% {
    top: 83%;
  }
  100% {
    top: 0;
  }
}

@keyframes moveYBootstrap {
  0% {
    top: 0;
  }
  100% {
    top: 83%;
  }
}
@keyframes moveYTailwind {
  0% {
    top: 83%;
  }
  100% {
    top: 0;
  }
}

/* other browser */

/* @-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
} */

/* @-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
} */
